name: |
  Updates the package index upon an event. Which repo should be updated depends on the
  `"source_repo"` payload of the request.

on:
  repository_dispatch:
    types: [dispatch-event]
  workflow_dispatch:

jobs:
  update-index:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout index repo
        uses: actions/checkout@v4
        with:
          path: index_repo
          # Maybe we need a token such that we can push later to us.

      - name: Checkout the dependency repo that should be updated.
        uses: actions/checkout@v4
        with:
          #repository: ${{ github.event.client_payload.source_org }}/${{ github.event.client_payload.source_repo }}
          repository: gridtools/dace
          #path: ${{ github.event.client_payload.source_repo }}
          path: dace
          # Everything we pull is publich, so no token needed.
          submodules: 'recursive'
          # Must be changed to something dinamically.
          ref: "gt4py-next-integration"

      - name: Build the distribution.
        shell: bash
        env:
          #DEPENDENCY_REPO: ./${{ github.event.client_payload.source_repo }}
          DEPENDENCY_REPO: ./dace
          #DIST_FOLDER: ./index_repo/${{ github.event.client_payload.source_repo }}
          DIST_FOLDER: ./index_repo/dace
        run: |
          python -m pip install build --user
          echo "${DEPENDENCY_REPO} | ${DIST_FOLDER}"
          cd "${DEPENDENCY_REPO}"

          echo "========================"
          echo "DIST_FOLDER before:"
          ls "${DIST_FOLDER}
          echo ""
          python -m build --wheel --outdir "${DIST_FOLDER}"

          echo ""
          echo "========================"
          echo "DIST_FOLDER After:"
          ls "${DIST_FOLDER}
          echo ""

      - name: Create a PR in the index repo
        shell: bash
        env:
          CI_COMMIT_MESSAGE: updated dependency '${{ github.event.client_payload.source_org }}/${{ github.event.client_payload.source_repo }}'
          CI_COMMIT_AUTHOR: github-actions[bot]
          CI_COMMIT_EMAIL: username@users.noreply.github.com
        run: |
          ls .
          cd ./index_repo
          if ! git status --porcelain --untracked-files=no ; then
            # There are no changed.
            echo "There were no changes!"
            exit 0
          fi
          echo "CI_COMMIT_MESSAGE: ${CI_COMMIT_MESSAGE}"
          echo "INSIDE INDEX REPO"
          echo "================================="
          ls .
          git config --global user.name "${{ env.CI_COMMIT_AUTHOR }}"
          git config --global user.email "${{ env.CI_COMMIT_EMAIL }}"
          echo "================================="
          echo 

          # Do something smarter here, pass in the values.
          python generator.py

          echo "================================="
          echo "AFTER GENERATOR"

          touch "$(date +%s)"

          ls -1R .

          echo ""
          echo "================================="

          git status
          exit 0



          # Create a new branch
          #

          git add .
          git commit --no-verify -m "${CI_COMMIT_MESSAGE}"
          git push origin 










