name: |
  Updates the package index upon an event. Which repo should be updated depends on the
  `"source_repo"` payload of the request.

on:
  repository_dispatch:
    types: [dispatch-event]
  workflow_dispatch:

jobs:
  update-index:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout `master` branch of the index repo.
        uses: actions/checkout@v4
        with:
          path: index_repo
          ref: master    # We always work on master!

      - name: Checkout the dependency that should be updated in the index.
        uses: actions/checkout@v4
        with:
          #repository: ${{ github.event.client_payload.source_org }}/${{ github.event.client_payload.source_repo }}
          repository: gridtools/dace
          #path: ${{ github.event.client_payload.source_repo }}
          path: dace
          # Everything we pull is publich, so no token needed.
          submodules: 'recursive'
          # Must be changed to something dynamically.
          ref: "gt4py-next-integration"

      - name: Build the distribution.
        shell: bash
        run: |
          #DEPENDENCY_REPO="${PWD}/${{ github.event.client_payload.source_repo }}"
          #DIST_FOLDER="${PWD}/index_repo/${{ github.event.client_payload.source_repo }}"
          DEPENDENCY_REPO="${PWD}/dace"
          DIST_FOLDER="${PWD}/index_repo/dace"

          cd "${DEPENDENCY_REPO}"
          python -m pip install build --user
          python -m build --wheel --outdir "${DIST_FOLDER}"

      - name: Create a PR in the index repo
        shell: bash
        env:
          CI_COMMIT_MESSAGE: updated dependency '${{ github.event.client_payload.source_org }}/${{ github.event.client_payload.source_repo }}'
          CI_COMMIT_AUTHOR: github-actions[bot]
          CI_COMMIT_EMAIL: username@users.noreply.github.com
        run: |
          cd ./index_repo
          if ! git status --porcelain --untracked-files=no ; then
            # There are no changed.
            echo "There were no changes!"
            exit 0
          fi

          # Run the update process.
          python generator.py

          git status
          exit 0

          # We directly push to master.
          git add .
          git commit --no-verify -m "${CI_COMMIT_MESSAGE}"
          git push origin master
